/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
}
h1 {
	margin:0;
}
.column {
	height: 100%;
	width: 50%;
}
.square {
    height:calc(100%/3);
	width: 100%;
	display: block;
}
.blue {
	background-color: E82C0C;
}
.green {
	background-color: #030303;
}
.pink {
	background-color: #FFFDC0;
}
.restrict-image-size {
	max-height: 100%;
	max-width: 100%;
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.img {
	width: 100%
}

/* When possible, organize CSS classes in alphabetical order */